<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>INGBankingSelenium</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85b2ec">  <td>21/04/01 23:14:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_DDTest_001.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.ingBankingSelenium.TestCases.TC_DDTest_001@87a85e1]">loginDDT</td> 
  <td>main@343812839</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>21/04/01 23:14:16</td>   <td>5363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_DDTest_001.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.ingBankingSelenium.TestCases.TC_DDTest_001@87a85e1]">loginDDT</td> 
  <td>main@343812839</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>21/04/01 23:14:21</td>   <td>10470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_DDTest_001.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.ingBankingSelenium.TestCases.TC_DDTest_001@87a85e1]">loginDDT</td> 
  <td>main@343812839</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>21/04/01 23:14:27</td>   <td>15596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_DDTest_001.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.ingBankingSelenium.TestCases.TC_DDTest_001@87a85e1]">loginDDT</td> 
  <td>main@343812839</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>21/04/01 23:14:32</td>   <td>20706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_DDTest_001.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.ingBankingSelenium.TestCases.TC_DDTest_001@87a85e1]">loginDDT</td> 
  <td>main@343812839</td>   <td></td> </tr>
<tr bgcolor="9ca58e">  <td>21/04/01 23:14:05</td>   <td>-6426</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginBaseClass.setup(java.lang.String)[pri:0, instance:com.ingBankingSelenium.TestCases.TC_DDTest_001@87a85e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343812839</td>   <td></td> </tr>
<tr bgcolor="9ca58e">  <td>21/04/01 23:14:37</td>   <td>25800</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginBaseClass.tearDown()[pri:0, instance:com.ingBankingSelenium.TestCases.TC_DDTest_001@87a85e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343812839</td>   <td></td> </tr>
</table>
